<!doctype html>
<html>
	<head th:fragment="header">
		<title th:text="#{label.data.generator}"></title>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/filters.js"></script>
	</head>
</html>